<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.upmgeoinfo.culturamad">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/cmad_icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cmad_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CulturaMAD"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6163454916193288~5271009522"/>
        <!--"ca-app-pub-3940256099942544~3347511713" test adds-->
        <!--"ca-app-pub-6163454916193288~7176819883" mio(closed test)-->
        <!--"ca-app-pub-6163454916193288~5271009522" mio(production version)-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9EEq2T-3xeo6KOdvuVyDTth8EGCyykEQ"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CulturaMAD">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>